:root{
    --buttonColor:#FFDAB9;
    --buttonhoverColor:#F4A460;
    --mainBackgorudColor:#FFF5EE;
    --fontColor:#708090;
    --playerAbutton:#F4A460;
    --playerBbutton:#FA8072;
    --playerActive:#faebe1;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main{
    padding-top: 3%;
    margin: auto;
    width: 80%;
    height: 85%;
    
}

.game{
    background-color: var(--mainBackgorudColor);
    width: 75%;
    height: 75%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    
}

.player_x, .player_y{
    margin: 5px 5px 5px 40px;
    display: flex;
    color: var(--fontColor);
    border-radius: 5px;
}

.player_x{
    background-color: var(--playerActive);
}

.player_x_button, .player_y_button{
    padding: 10px;
    margin-right: 20px;
    margin-left: 5px;
    width: 20px;
    height: auto;
    border-radius: 5px;
}
.player_x_button{
    background-color: var(--playerAbutton);
    border: solid 1px var(--playerAbutton);
    
}
.player_y_button{
    background-color: var(--playerBbutton);
    border: solid 1px var(--playerBbutton);
}


.button{
    background-color: var(--buttonColor);
    border-radius: 5px;
    border: solid 1px var(--buttonColor);

}

h4{
    padding: 4px;
}
.legend{
    font-size: 15px;
    grid-area: legend;
    
    
}



@media (min-width:800px) {

    .button:hover{
        transition: 0.2s;
        box-shadow: 3px 3px 5px var(--playerAbutton);
    }
    
    main{
        display: flex;
        flex-flow: row wrap;
    }
    
    .legend{
        align-self: center;
    }
}